.table {
  th {
    font-weight: 600;
    color: #495057;
  }

  td {
    vertical-align: middle;
  }
}

.input-group {
  .form-control {
    text-align: center;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.btn-danger {
  &:hover {
    background-color: #dc3545;
    border-color: #dc3545;
  }
}

.alert {
  margin-top: 1rem;
  a {
    color: #0d6efd;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  margin: 2rem auto;
} 