.container {
  padding: 2rem;
}

.table {
  th {
    font-weight: 600;
  }
}

.badge {
  padding: 0.5em 1em;
}

.btn {
  &.btn-sm {
    padding: 0.25rem 0.5rem;
  }
}

.spinner-border {
  width: 3rem;
  height: 3rem;
} 