.product-image-card {
    max-width: 250px;
    float: left;
    margin: 5px;
  }
  
  .product-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  ::ng-deep .cdk-overlay-pane {
    width: 80vw !important;  /* Dialog'un genişliğini %80 yap */
    max-width: 90vw !important; /* Maksimum genişlik */
  }
  
  
  